<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/head") %>
    
    <div class="main-content">
        
        <% if (character) { %>
            <h1><%= character.name %></h1>
            <a href="/<%= groupName %>" >Go Back</a>
            <p><%= character.age %></p>
            <p><%= character.description %></p>
            <p><%= character.movie %></p>
            <p><%= character.length %></p>
            <p><%= character.image %></p>
            <p><%= character.group %></p>
            <img src="/images/<%= character.image %>" alt="<%= character.name %> Image">
        <% } else { %>
            <%- include("../partials/no-match") %>
        <% } %>
        
    </div>
    <%- include("../partials/footer") %>
</body>
</html>
