<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/chihiro.css">
<%- include("../partials/header") %>
<body class=<%= className %>>
    <%- include("../partials/header") %>
    
    <div class="main-content">
        
        <% if (character) { %>
            <%- include("../partials/profilenavbar") %>
            <h1><%= character.name %></h1>
            <p><%= character.age %></p>
            <p><%= character.description %></p>
            <p><%= character.movie %></p>
            <p><%= character.length %></p>
            
            <img src="/images/Chihiro.webp" alt="Character Image">
        <% } else { %>
            <%- include("../partials/no-match") %>
        <% } %>
    </div>
    <%- include("../partials/footer") %>
</body>
